<nav class="navbar">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img
          src="/assets/challandekho-logo.png"
          alt="ChallanDekho.com"
          class="logo-img"
        />
      </a>
    </div>
    <div class="nav-links">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
      <a routerLink="/search" routerLinkActive="active">Check Challan</a>
      <a routerLink="/fines" routerLinkActive="active">Fine Details</a>
      <button class="login-btn" (click)="openLoginModal()">Login</button>
    </div>
  </div>
</nav>
